* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.level-divider {
  background-color: rgb(12, 12, 12, 0.48) !important;
  height: 5px !important;
}

.delete-icon {
  float: right;
  color: red;
  font-weight: bold;
}

.visiblity-icon {
  float: right;
  color: gray;
  font-weight: bold;
}

/* .saveTreeButton {
  position: fixed !important;
  z-index: 999;
}

.saveTreeButtonDiv {
  position: relative !important;
  z-index: 99;
} */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
